<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Vue 3 Todo List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="logo">
            <img src="img/logo.png" alt="Logo Boolean">
        </div>

        <form class="new-task" @submit.prevent="addTodo">
            <input type="text" v-model="textNewTodo" placeholder="Inserisci Todo"  minlength="5" required/>
            <button type="submit">Aggiungi</button>
        </form>

        <div class="tasks-container">
            <ul>
               <li class="task" v-for="(todo, index) in todoList">
                    <span :class="{ 'done' : todo.done }" @click="todo.done = !todo.done">{{todo.text}}</span>
                    <i class="fas fa-times" @click="removeTodo(index)"></i>
               </li>
            </ul>
            
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>